/********************************
* Default value for variables   *
*********************************/

/**************************
* Common config          *
***************************/

/**************************
* Header config           *
***************************/
$header-height: 64px !default;

/**************************
* Footer config           *
***************************/
$footer-height: 64px !default;

/**************************
* Horizontal navbar config*
***************************/
$horizontal-navbar-height: 64px !default;
