<md-toolbar>

  <a class="navbar-brand" href="#">
    <img src="/assets/img/inpeek-logo.png" width="120" height="40" alt="">
  </a>
  <button md-icon-button (click)="toggleSidenav()">
    <div *ngIf="!isOpened;else other_content">
      <md-icon>chevron_right</md-icon>
    </div>
    <ng-template #other_content>
      <div>
        <md-icon>chevron_left</md-icon>
      </div>
    </ng-template>
  </button>

  <div fxLayout="row" fxLayoutAlign="end none">

    <button class="user-button" [md-menu-trigger-for]="menu">
      <img md-menu-align-target class="avatar" src="assets/img/avatars/profile.jpg">
      <span class="username" hide-sm>John Doe</span>
      <md-icon class="user-chevron">keyboard_arrow_down</md-icon>
    </button>

    <button class="user-button" [md-menu-trigger-for]="languagesMenu">
      <span class="username" hide-sm>{{defaultLanguage.text}}</span>
      <md-icon class="user-chevron">keyboard_arrow_down</md-icon>
    </button>

  </div>

</md-toolbar>

<md-menu class="custom-menu" #menu="mdMenu" [overlapTrigger]="false" (close)="closeMenu()" xPosition="after">
  <span *ngFor="let item of menuItems">
    <button md-menu-item *ngFor="let mEntry of item.items">
      {{mEntry.text}}
    </button>
  </span>
</md-menu>

<md-menu class="custom-menu" #languagesMenu="mdMenu" [overlapTrigger]="false"  (close)="closeMenu()" xPosition="after">
  <button md-menu-item *ngFor="let item of languages" (click)="onChange(item.value)" [disabled]="item.disabled">
    {{ item.text }}
  </button>
</md-menu>
