/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  min-width:100%;/* make sure it is at least as anchor as the viewport */
  position: absolute;
}
body{
  position: absolute;
  min-height:100%; /* force the BODY element to match the height of the HTML element */
  min-width:100%; /* force the BODY element to match the width of the HTML element */
}
