<button md-button *ngIf="menuItem.isParent()" [mdMenuTriggerFor]="dropdownMenu">
  <span>{{menuItem.label | translate}}</span>
  <md-icon *ngIf="menuItem.isParent()">keyboard_arrow_down</md-icon>
</button>

<button md-button *ngIf="!menuItem.isParent()" (click)="menuAction()">
  <span>{{menuItem.label | translate}}</span>
</button>

<md-menu #dropdownMenu="mdMenu" yPosition="below" overlapTrigger="false">
  <menu-item [menuItem] = "menuChild" *ngFor="let menuChild of menuItem.getChilds()"></menu-item>
</md-menu>
